* {
	padding: 0;
	margin: 0;
}
p,h3,h5 {
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 1px;
}
/*页头*/
.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 2px 0;
}
.top>p {
	color: #29b078;
	font-size: 14px;
}
.top>span {
	display: inline-block;
	width: 110px;
	height: 25px;
	margin: 5px 0;
	background: url(../img/sprite1.png) no-repeat;
	background-position: 0 0;
}
.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #29b078;
	padding-right: 18%;
}
.nav>li {
	font-size: 16px;
	color: #fff;
}
.nav>li>a {
	padding-top: 36px;
	padding-bottom: 36px;
	color: #fff;
	border: 3px solid #29b078;
}
.nav>li>a:focus, .nav>li>a:hover {
	background: none;
	border-bottom: 3px solid #fff;
}
/*banner*/
.banner img {
	width: 100%;
}
/*主体部分*/
.main {
	background: #fafafa;
	padding: 35px 15% 230px;
}
.main>h5 {
	font-size: 16px;
}
.main>h5>a {
	color: #333;
}
.main>h5>a:focus, a:hover {
	text-decoration: none;
}
.main>h5>span {
	color: #29b078;
}
.main-content {
	display: flex;
	margin-top: 30px;
}
.company,
.company-info {
	border: 1px solid #eeeded;
	box-shadow: 0 0 1px #eeeded;
}
/*企业导航栏*/
.company {
	width: 23%;
	height: 710px;
	margin-right: 25px;
	background: #fff;
}
.company>h3 {
	padding: 25px 0;
	text-align:center;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}
.company>ul {
	padding-top: 31px;
}
.company>ul>li {
	width: 86px;
	padding-bottom: 31px;
	margin: auto;
	list-style: none;
	font-size: 14px;
	color: #29b078;
}
.company>ul>li>span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: 1px solid #ff7527;
	border-radius: 50%;
}
.company .active {
	background: #f9a372;
}
/*企业合作信息*/
.company-info {
	width: 77%;
	padding: 0 8.5% 184px;
	background: #fff;
}
.company-info p {
	font-size: 14px;
	color: #999;
	line-height: 28.22px;
}
.company-profile {
	display: flex;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 30px;
}
.company-profile span {
	display:inline-block;
	width: 178px;
	height: 100px;
	background: url(../img/tudou-icon.png) no-repeat;
	background-position: -50px -36px;
}
.company-intro>p {
	padding-top: 40px;
	text-indent: 28px;
}
/*页脚*/
.footer {
	background: #26a26f;	
}
.footer p {
	font-size: 16px;
	color: #fff;
}
/*相关信息*/
.related-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 11.5%;
}
.website-info>p:last-child {
	padding-top: 60px;
	font-size: 14px;
}
.website-case {
	display: flex;
}
.website-case>a {
	font-size: 14px;
	color: #fff;
	padding-bottom: 5px;
	margin-right: 35px;
	margin-top: 17px;
}
.website-case>a:focus, a:hover {
	text-decoration: none;
}
.website-case .special {
	border-bottom: 1px solid #fff;
}
.code>p{
	text-align: center;
}
.code>span {
	display: block;
	width: 92px;
	height: 92px;
	background: url(../img/sprite2.png) no-repeat;
	background-position: -434px -261px;
}
/*版权*/
.copyright {
	border-top: 1px solid #32c086;
}
.copyright>p {
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}
/*媒体查询*/
@media screen and (max-width:480px){
	/*页脚网站相关信息*/
	.its-website,
	.code,.website-info>p:last-child {
		padding-top: 15px;
	}
	/*主体内容中的介绍*/
	.company-profile {
		flex-wrap: wrap;
	}
	.company-profile span {
		background-position: -15px -36px;
	}
}
@media screen and (min-width:480px){
	/*页头部分的导航栏*/
	.nav>li>a {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (max-width:768px){
	/*页头部分的导航栏*/
	.nav {
		padding-right: 0px;
		justify-content: center;
	}
	/*主体内容中的介绍*/
	.main-content {
		flex-wrap: wrap;
	}
	.company {
		width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.company-info {
		width: 100%;
	}
}
@media screen  and (min-width:1024px){
	/*页脚网站相关信息*/
	.its-website {
		margin-left: -27%;
	}
}
@media screen and (min-width:1532px) {
	/*主体内容中的介绍*/	
}
