* {
	margin: 0;
	padding: 0;
}
body {
	background: #f0f0f0;
}
buttom,p {
	letter-spacing: 1px;
}
/*页头*/
.header {
	padding: 11px 11px;
	background: #29bde0;
}
.menu-icon {	
	display: block;
    width: 17px;
    height: 14px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
	background: #fff;
    padding: 4px 0;
    background-clip: content-box; 
}
/*主体部分*/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-indicators li {
	width: 12px;
	height: 12px;
	background: #e7e7e7;
}
.carousel-indicators .active {
	margin: 1px;
	background: #69d1e9;
}	
.section,
.carousel {
	width: 90%;
	text-align: center;
	background: #fff;
}
.section {
	position: relative;
	margin: 13px 0;
}
.section button {
	width: 100%;
	padding: 19px 0;
	background: #fff;
	font-size: 17.42px;
	color: #9a9a9a;
	border: none;
	outline: none;
}
.glyphicon-menu-right {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	font-size: 17px;
	color: #e7e7e7;
}
.carousel-inner {
	padding-bottom: 20px;
}
.item button {
	width: 85%;
	padding: 24px 0;
	background: #69d1e9;
	font-size: 16px;
	color: #fff;
	border: none;
	outline: none;
}
.item button a {
	color: #fff;
}
.item button a:focus, a:hover {
	text-decoration: none;
}
.item p:first-child {
	padding: 14px 0;
	font-size: 18.87px;
	color: #fbb435;
	border-bottom: 1px solid #fde1ae;
}
.item p {
	padding-top: 15px;
	margin-bottom: 15px;
	font-size: 12.26px;
	color: #9a9a9a;
}
.glyphicon-triangle-right {
	position: absolute;
	top: 50%;
	right: 1px;
	transform: translateY(-50%);
	font-size: 21px;
	color: #fbb435;
}
.carousel-control {
	opacity: 1;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control:focus, .carousel-control:hover {
	color: #fbb435;
}