* {
	padding: 0;
	margin: 0;
}
body {
	background: #29bde0;
}
p {
	margin-bottom: 0;
}
p,span,buttom {
	letter-spacing: 1px;
}
a:focus, a:hover {
	text-decoration: none;
}
/*页头*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px 5px;
	background: #29bde0;
	z-index: 999;
}
.header p {
	font-size: 17px;
	color: #fff;
}
.header span {
	display: inline-block;
	background-image: url(../img/icon.png);
}
.icon1 {
	width: 20px;
	height: 20px;
	background-position: 0 0;
}
.icon2 {
	width:18px;
	height: 18px;
	background-position: -52px 0;
}
/*主体*/
.main {
	margin-top: 44px;
	margin-bottom: 93px;
}
.section {
	position: relative;
	padding:15px;
	background-color: #b9e9f5;
}
.section p {
	padding-left: 15px; 
	font-size: 13px;
	color: #464646;
}
.play {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	padding: 4px 7px;
	background: #fbb435;
	border-radius: 50%;
}
.glyphicon-play {	
	color: #fff;
}
audio {
	position: absolute;
	top: 3%;
	right: 0;
	transform: rotate(180deg);
	opacity: 0;
}
.hint {
	position: relative;
}
.glyphicon-triangle-bottom {
	position: absolute;
	top: 11px;
	left: 20px;
	color: #b9e9f5;
}
.hint p{
	position: absolute;
	top: 28px;
	left: 10px;
	font-size: 12px;
	color: #fff;
}
/*内容*/
.content {
	padding-top: 50px;
	
}
.list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.player {
	position: relative;
	width: 70px;
	height: 70px;
	margin-bottom: 35px;
	text-align: center;
	border: 2px solid #fff;
}
.player p {
	height: 49px;
	line-height: 49px;
	font-size: 15px;
	color: #565656;
	background: #f5c97b;
}
.player span {
	display: block;
	font-size: 11.5px;
	color: #fff;
	background: #83b09a;
}
.icon {
	display: none;
}
.player:hover .icon{
	display: flex;
	position: absolute;
	top: 78px;
	left: 0;	
}
.icon span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2.5px;
	background: #fff  no-repeat;
	background-image: url(../img/icon.png);	
}
.player .icon .icon3 {
	background-position: 0 -32px;
}
.player .icon .icon4 {
	background-position: -27px -32px;
}
.player .icon .icon5 {
	background-position: -53px -31px;
}
.player .icon .icon6 {
	background-position: -78px -31px;
}
/*页头*/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #29bde0;
	z-index: 999;
}
.footer button {
	margin: 20px 0 25px;
	padding: 10px 30%;
	border: none;
	outline: none; 
	font-size: 20px;
	color: #fff;
	background: #fbb435;
}
.footer button a {
	color: #fff;
}